* {
    margin: 0;
    padding: 0;
}

.table {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
}

#datepicker1, #datepicker2 {
    border: 1px solid;
    width: 200px;
}

td {
    width: 14.28%;
    text-align: center;
    /*border: 1px solid;*/
}

.IsNotThisMonthDay {
    background-color: rgb(199, 221, 221);
}

.IsToday {
    background-color: brown;
}

#title {
    width: 200px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}